<div class="container">
  <div class="upper-nav">
    <p class="name">BookUsNow</p>
    <div class="search-cat">
      <button mat-flat-button class="categories-btn" color="accent">
        <mat-icon>menu</mat-icon>Categories
      </button>
      <div class="search">
        <p class="placeholder" style="padding: 0; margin: 0">DJI phantom</p>
        <mat-icon class="search-icon">search</mat-icon>
      </div>
    </div>
    <div class="fav-signIn">
      <button mat-button color="accent">
        <mat-icon color="accent">favorite</mat-icon> Favorites
      </button>
      <button mat-stroked-button class="sign-in" color="accent">Sign In</button>
    </div>
  </div>
  <div class="lower-nav">
    <div class="location">
      <span class="material-symbols-outlined">location_on</span>
      <p style="padding: 0; margin: 0; align-self: end">Mumbai, India</p>
      <span class="material-symbols-outlined">navigate_next</span>
    </div>
    <div class="categories">
      <ul>
        <li>Live shows</li>
        <li>Streams</li>
        <li>Movies</li>
        <li>Plays</li>
        <li>Events</li>
        <li>Sports</li>
        <li>Activites</li>
      </ul>
    </div>
  </div>
</div>
